<!--binding  component starts here-->

<!-- <app-first></app-first> -->

<!--binding component ends here-->

<!--directives component starts here-->

<app-directive></app-directive>

<!--diectives component ends here-->

<!-- Parent component starts here -->

<!-- <app-parent-component></app-parent-component> -->

<!-- parent component ends here -->

<!-- routing starts here -->

<!-- <a routerLink="/home">home</a> -----
<br />
<a routerLink="/about">about</a> --> 

<!-- routing end here -->

<!-- Todo component starts here -->

<div class="container">

<app-todoform></app-todoform>

<app-todolist></app-todolist>

</div>

<!-- Todo component ends here -->

<!-- curd oparations start here -->

<app-curdoparation></app-curdoparation>

<!-- curd oparations ends here -->
<router-outlet></router-outlet>